body {
    color: rgb(255,255,255);
    text-shadow: -2.5px 2.5px 2px rgba(0, 0, 0, 0.5);
}

strong {
    text-shadow: none;
    color: #555;
}

.display {
    margin: 0.8rem auto;
    font-size: 1.4rem;
}

.container{
    background: linear-gradient(to left, #1cefff, #c0cfaa);
    text-align: center;
    margin: 8% auto;
    width: 37%;
    height: 100%;
    border: 2px solid rgba(255, 255, 255, 0.25);
    box-shadow: -5px 5px 10px rgba(0,0,0,.75);
    border-radius: 1.25rem;
}

.btn {
    overflow: hidden;
    margin: 1rem;
    min-width: 5.6rem;
    padding: 0.4rem;
    min-height: 2.4rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    background-color: transparent;
    opacity: 1;
    color: #fff;
    cursor: pointer;
    text-shadow: -2px 2px 2px rgba(0, 0, 0, 0.5);
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.5);
    text-shadow: -2.5px 2.5px 5px rgba(0, 0, 0, 0.5);
}

.dateInput {
    text-align: center;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    padding: 0.4rem;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.5);
}

input:focus, button:focus {
    outline: none;
}